<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/commons/head::commonHead"></th:block>
	<link rel="stylesheet" type="text/css" href="/css/mybatis/list.css">
</head>
<body>
	<!-- header -->
	<section id="top-menu" class="view-width">
		<div class="top ">
			<h1>top menu</h1>
			<div class="top-wrap flex-between">
				<a class="logo" href="/">
					<img alt="home" src="/images/ssoxxi_logo_white.svg">
				</a>
				<span>Mybatis Board</span>
			</div>
		</div>
	</section>
	<!-- main -->
	<main>
		<h1>mybatis로 처리한 게시글</h1>
		<div class="view-width">
			<section id="page-tit">
				<h1>페이지 제목</h1>
				<p>mybatis로 처리한 게시글</p>			
			</section>
			<section id="service">
				<h1>게시글 내용</h1>
				<div class="wrap">
					<div class="btn">
						<a href="/mybatis/write">글쓰기</a>				
					</div>
					<ul class="tit flex">
						<li>no</li>
						<li>제목</li>
						<li>조회수</li>
						<li>작성자</li>
						<li>작성일</li>
					</ul>
					<ul class="contents flex" th:each="dto:${mybatisList}">
						<li th:text="${dto.no}"></li>
						<li><a th:href="|/mybatis/${dto.no}|">[[${dto.subject}]]</a></li>
						<li>[[${dto.count}]]</li>
						<li>[[${dto.writer}]]</li>
						<li>
							<th:block th:if="${dto.reg_date.toLocalDate() eq today}">
							[[${dto.reg_date.toLocalTime()}]]
							</th:block>
							<th:block th:if="${dto.reg_date.toLocalDate() ne today}">
							[[${dto.reg_date.toLocalDate()}]]
							</th:block>
						</li>
					</ul>
					<!-- 페이징 -->
					<div class="flex-center pagging">
						<th:block th:if="${pageInfo.from > 1}">
							<a href="/mybatis/list/1" >&lt;&lt;</a>
							<a th:href="|/mybatis/list/${pageInfo.from - 1}|" >&lt;</a>
						</th:block>
						
						<th:block th:each="page :${#numbers.sequence( pageInfo.from , pageInfo.to )}">
							<a th:href="|/mybatis/list/${page}|" >[[${page}]]</a>
						</th:block>
						
						<th:block th:if="${pageInfo.total != pageInfo.to}">
							<a th:href="|/mybatis/list/${pageInfo.to + 1}|" >&gt;</a>
							<a th:href="|/mybatis/list/${pageInfo.total}|" >&gt;&gt;</a>
						</th:block>
					</div>
				</div>
			</section>
		</div>
	</main>
	<!-- footer -->
	<th:block th:insert="/commons/footer::footer"></th:block>
</body>
</html>