<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer" >
		<section id="footer-wrap">
			<div class="logo">
				<a href="/">
					<img alt="logo" src="/images/ssoxxi_logo_white.svg">
				</a>
			</div>
			<div class="footer-navi flex">
				
				<ul class="learn cont">
					<span class="tit">LEARN MORE</span>
					<li>
						<a href="#"> Mi 9 Lite</a>
					</li>
					<li>
						<a href="#">Redmi Note 7</a>
					</li>
					<li>
						<a href="#">Mi 9T Pro</a>
					</li>
				</ul>
				<ul class="support cont">
					<span class="tit">SUPPORT</span>
					<li>
						<a href="#">Contact Us</a>
					</li>
					<li>
						<a href="#">Warranty</a>
					</li>
					<li>
						<a href="#">UserGuide</a>
					</li>
					<li>
						<a href="#">Scooter Safety Notice</a>
					</li>
					<li>
						<a href="#">Android Enterprise</a>
					</li>
					<li>
						<a href="#">Recommended</a>
					</li>
				</ul>
				<ul class="about cont">
					<span class="tit">ABOUT US</span>
					<li>
						<a href="#">Xiaomi</a>
					</li>
					<li>
						<a href="#">Press & Media</a>
					</li>
					<li>
						<a href="#">User Agreement</a>
					</li>
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					<li>
						<a href="#">Xiaomi Blog</a>
					</li>
					<li>
						<a href="#">Investor Relations</a>
					</li>
					<li>
						<a href="#">Integrity & Compliance</a>
					</li>
				</ul>
				<ul class="follow cont">
					<span class="tit">FOLLOW MI</span>
					<li>
						<a href="#">
							<img alt="" src="#" class="sns">
							Facebook
						</a>
					</li>
					<li>
						<a href="#">
							<img alt="" src="#" class="sns">
							Youtube
						</a>
					</li>
					<li>
						<a href="#">
							<img alt="" src="#" class="sns">
							Instagram
						</a>
					</li>
					<li>
						<a href="#">
							<img alt="" src="#" class="sns">
							Twitter
						</a>
					</li>
					<li>
						<a href="#">
							More Regions
						</a>
					</li>
				</ul>
			</div>
			<div id="copyright">
				<ul class="rights flex">
					<li>Copyright © 2010 - 2020</li>
					<li>
						<a href="/">Xiaomi</a>
					</li>
					<li>. All Rights Reserved</li>
				</ul>
			</div>
		</section>
	</footer>
</body>
</html>