@charset "UTF-8";
@import url("../common.css");

/* /////////////////////////////////////////// */
/* //////jpa/write.css/////////////////////////// */
/* /////////////////////////////////////////// */

/* top menu */
#top-menu{
	position: absolute;
	top:0;
	width:100%;
	background-color: #212121;
	color: #b0b0b0;
	height: 56px;
}
#top-menu .top .top-wrap{
	width:1226px;
	position: relative;
	top: 0;
	margin: 0 auto;
}
#top-menu span{
	color: #b0b0b0;
	font-size: 25px;
	font-weight: 600;
	line-height: 56px;
	vertical-align: middle;
}
/*logo*/
#top-menu .top .logo{
	text-align: right;	
}
#top-menu .top .logo img{
	width: 112px;
	height: 56px;
}


#board{
	width: 1226px;
	height: 800px;
}
/* page title */
#page-tit p{
	position: relative;
	top: 60px;
	font-size: 20px;
	font-weight: 700;
	padding: 40px 0;
}

/* write form */
#board .write-form .write-wrap .form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}
#board .write-form .write-wrap .form input{
	margin-bottom: 10px;
}
#board .write-form .write-wrap .form input:nth-child(2){
	height: 35px;
}
/* btn */
#board .write-form .write-wrap .btn{
	width: max-content;
	margin-top: 10px;
	text-align: right;
	background-color: #ff6700;
	padding: 0.5em 2em;
	border-radius: 5%;
	display: inline-block;
	color: #fff;
	font-weight: 700;
}

