<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/commons/head :: commonHead"></th:block>
	<link rel="stylesheet" type="text/css" href="/css/sign/join.css">
</head>
<body>
	<!-- header -->
	<section id="top-menu" class="view-width">
		<div class="top ">
			<h1>top menu</h1>
			<div class="top-wrap flex-between">
				<a class="logo" href="/">
					<img alt="home" src="/images/ssoxxi_logo_white.svg">
				</a>
			</div>
		</div>
	</section>
	<!-- main -->
	<main>
		<h1>회원가입</h1>
		<div class="wrap">
			<div id="content-tit">
				<p class="tit">회원가입</p>
				<p class="msg">계정 정보를 입력해 주세요</p>
			</div>
			<script type="text/javascript">
				$(function(){
					
					$(".verification").hide();
					
					$("#btn-email").click(function(){
						$(".verification").show();
						//$.ajax({name:value,name:value,...,name:value});
						$.ajax({
							url:"/mail",
							type: "POST",
							data:{email:$("#e-address").val()},
							success:function(result){
								alert("메일이 발송되었습니다.")
							}
						});
					});
					
					//confirm
					$("#confirm-email").click(function(){
						var code=$("#code").val();
						var email=$("#e-address").val();
						
						/*받은 data 쏘기*/
						$.ajax({
							url:"/mail/check",
							type:"post",
							data:{
								"code":code,
								"email":email},
							success:function(result){
								$(".mail-check span").text(result);
							}
						});
					});
				});
			</script>
			<div id="join">
				<form action="/user/signup" method="post">
					<div class="email flex-between">
						<input type="text" name="email" placeholder="계정 (이메일)" id="e-address">
						<button type="button" id="btn-email">인증메일 발송</button>
					</div>
					<div class="verification flex-between">
						<input type="text" id="code" placeholder="인증번호를 입력하세요">
						<button type="button" id="confirm-email">확인</button>
					</div>
					<div class="mail-check">
						<span></span>
					</div>
					<div>
						<p><a href="#">보안 안내</a></p>
						<input type="password" name="pw" placeholder="비밀번호">
						<span class="guide-msg">8 ~ 16자 영문 대소문자, 숫자, 특수문자를 조합해 주세요.</span>
					</div>
					<div>
						<input type="password"  placeholder="비밀번호 확인">
						<span class="guide-msg">비밀번호를 한번 더 입력해 주세요.</span>
					</div>
					<div>
						<button type="submit">등록</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<!-- 
	<footer>
		<h1>하단</h1>
		<script type="text/javascript">
			$(function(){
				$("#footer-logo img").attr("src","/images/logo_s.svg");
			});
		</script>
		<div id="footer-wrap">
			<th:block th:include="/commons/footer :: footerBottom"></th:block>
		</div>
	</footer> 
	-->
</body>
</html>