@charset "UTF-8";
@import url("../common.css");

input,button{
	display: block;
	height: 56px;
	width: 100%;
	margin: 10px 0;
	padding: 15px 16px;
}
/* top */
#top-menu{
	position: absolute;
	top:0;
	width:100%;
	background-color: #212121;
	color: #b0b0b0;
	height: 56px;
}
#top-menu .top{
	width:1226px;
	position: relative;
	top: 0;
	margin: 0 auto;
}
#top-menu span{
	color: #b0b0b0;
	font-size: 25px;
	font-weight: 600;
	line-height: 56px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
}
/*logo*/
#top-menu .top .logo{
	text-align: right;	
}
#top-menu .top .logo img{
	width: 112px;
	height: 56px;
}
#logo-top div a img{
	width: 112px;
	height: 56px;
}
/* main */
#log{
	position: relative;
	margin-top: 50px;
}
.view-width{
	width: 450px;
	margin: 0 auto;
}
#error{
	margin-bottom: 40px;
	padding: 20px 20px;
    font-size: 16px;
    text-align: center;
    color: #da3c31;
    border-left: 5px solid #da3c31;
    background-color: #f6cecb;
}
#welcome{
	margin-bottom: 40px;
	padding: 20px 20px;
    font-size: 16px;
    text-align: center;
    color:  #334571;
    border-left: 5px solid #061333;
    background-color: #fbd999;
}
#log {
	margin-top:100px;
	padding: 50px 20px 100px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	
}
#login{
	width: 365px;
	margin: 30px auto 0;
}
#login button{
	background-color: #ff6700;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
}
#account{
	margin-top: 15px;
}
#account ul li a{
	padding: 0 15px;
}
.pipe::after{
	margin:0;
	height: 12px;
	border-left: 1px solid #ff6700;
	opacity: 0.25;
}
#f-g-n{
	margin-top: 15px;
	text-align: center;
}
#f-g-n ul{
	width: 365px;
	margin: 0 auto;
}
#f-g-n ul li{
	height: 56px;
	margin: 10px 0;
	border: 1px solid #fbd999;
	background-color: #fff;
	line-height: 56px;
}
#f-g-n ul li a{
 color: #535768;
}
#f-g-n ul li img{
	width: 15px;
	height: 15px; 
	margin-right: 15px;
	vertical-align: baseline;
}

